html {
	background-image: url('../img/fondo_blanco.v2.png');
}

/* * * * PRINCIPAL * * * */
#C_principal {
	width: 30%;
	height: auto;
	display: block;
	padding: 10px;
	position: relative;
	padding-bottom: 10%;
	margin-top: 5%;
	left: 3%;
	background-image: url('../img/background_divs.jpg'); /*#021575*/
	border: 5px #171a3d solid;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.titol_principal {
	color: #9e9fa4;
	margin-left: 20%;
}
/* * * * PRINCIPAL * * * */

/* * * * FORMULARI * * * */
label {
	color: white;
	margin-left: 20%;
}
img {
	margin-left: 19%;
}